.Container {
    height: 100vh;
}

.Navbar {
    z-index: 5;
    top: 0px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--navbar-height);
    width: 100%;
    background-color: var(--primary-color);
}

.Navbar .Title {
    margin: 0px;
    color: white;
}

.Content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

.Content .Results {
    width: 720px;
    border-radius: 5px;
}

.Project-checker {
    width: 384px;
}

.Project-checker h1 {
    text-align: center;
}